
.background1{
  background-color: #222831;
  padding-top: 14rem;
  padding-left: 7rem;
  padding-bottom: 20rem;
  background-image: -webkit-linear-gradient(65deg, #222831 50%, #393E46 50%);

}

body {
  margin: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
    flex-basis: 32%;
    height: 200px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}


.topText {
  text-align: left;
}

.Webfont {
  font-size: 5rem;
}

.topimg{

  margin-left: 53rem;
  margin-bottom: 15rem;
  width: 50%;
  height: 50%;
}

.mid {
height: 100px;
}

.section1{
  position: relative;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 1200px;
  background #f00;
  margin-top:30rem;
  box-shadow: 0 25px 30px rgba(0,0,0,.5);
  display: flex;
}

.section2{
  position: relative;
  top: 0%;
  left:50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 1200px;
  background #f00;
  margin-top:20rem;
  box-shadow: 0 25px 30px rgba(0,0,0,.5);
  display: flex;
}


.featured{
  width: 50%;
  height: 100%;
  background: #393E46;
  box-sizing: border-box;
}

.imagebox{
  width: calc(50% + 6.25rem);
  height: 100%;
  background: #f00;
  box-sizing: border-box;
  border-left: 6.25rem solid #393E46;
  border-bottom: 25rem solid transparent;
  background: url(images.jpg)
}

.featuredbottom{
  width: 50%;
  height: 100%;
  background: #393E46;
  box-sizing: border-box;
}

.imageboxbottom{
  width: calc(50% + 6.25rem);
  height: 100%;
  background: #f00;
  box-sizing: border-box;
  border-left: 6.25rem solid #393E46;
  border-bottom: 25rem solid transparent;
  background: url(images.jpg)
}

.white {
  color: white;
}

.d-block {
  height: 300;
}

.carousel-inner img {
  margin: auto;
}

.footer {
  text-align: center;
  font-family: "silkscreen", cursive;
  background-color: #00ADB5;
}

.icon {
  padding-right: 35px;
}

.carbackground {
  background-color: #393E46;
}

.salestext {
  font-family: "silkscreen", cursive;
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 10rem;
}

.textboxtext {
  text-align: center;
  margin-top: 6rem;
  font-size: 3rem;
}

.custonbutton {
  margin-left: 50px;
}

.cardcontainer{
  margin: 0 auto;
  display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 max-width: 800px;

}

@media screen and (max-width: 991px) {
  .card {
    flex-basis: calc(50% - 10px);
  }
}

@media screen and (max-width: 767px) {
  .card {
    flex-basis: 100%;
  }
}

.containernewbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  max-width: 600px;
  position: relative;
}

.text {
  flex: 1;
  padding-right: 20px;
  background-color: #f2f2f2;
  position: relative;
  z-index: 2;
}

.text::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  width: 0;
  height: 0;

}

.divider {
  width: calc(50% + 6.25rem);
  height: 100%;
  background: #f00;
  box-sizing: border-box;
  border-left: 2rem solid #393E46;
  border-bottom: 2rem solid transparent;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;

}

.image img {
  max-width: 100%;
  max-height: 100%;
}

.image::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 80px 0 0 40px;
  border-color: #ffffff transparent transparent transparent;
  z-index: 1;
}
